body {
    font-family: Arial, sans-serif;
    background-image: url('mit2.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.feedback-form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
}

select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin: 0px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}